# Dependencies
node_modules

# Build output
dist

# Yarn
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
.pnp.*

# IDE
.vscode
.idea

# OS
.DS_Store

# Test coverage
coverage
.nyc_output

# Misc
.baseDir.*
.esm-cache
*.log
CLAUDE.md
SESSIONS.md
