/*
 * Synthwave '84 Theme originally by Robb Owen [@Robb0wen] for Visual Studio Code
 * Demo: https://marc.dev/demo/prism-synthwave84
 *
 * Ported for PrismJS by Marc Backes [@themarcba]
 */

code[class*="language-"],
pre[class*="language-"] {
  color: #f92aad;
  text-shadow:
    0 0 2px #100c0f,
    0 0 5px #dc078e33,
    0 0 10px #fff3;
  background: none;
  font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
  font-size: 1em;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;

  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;

  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
  white-space: pre-wrap;
}

/* Code blocks */
pre[class*="language-"] {
  padding: 1em;
  border-radius: 4px;
  margin: 24px 0 40px;
}

code[class*="language-"] * {
  color: inherit;
  font-family: "Fira Code";
}

:not(pre)>code[class*="language-"],
pre[class*="language-"] {
  background-color: transparent !important;
  background-image: linear-gradient(to bottom, #2a2139 75%, #34294f);
}

/* Inline code */
:not(pre)>code[class*="language-"] {
  padding: 0.1em;
  border-radius: 0.3em;
  white-space: normal;
}

.token.comment,
.token.block-comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: #8e8e8e;
}

.token.punctuation {
  color: #ccc;
}

.token.tag,
.token.attr-name,
.token.namespace,
.token.number,
.token.unit,
.token.hexcode,
.token.deleted {
  color: #e2777a;
}

.token.property,
.token.selector {
  color: #72f1b8;
  text-shadow:
    0 0 2px #100c0f,
    0 0 10px #257c5575,
    0 0 35px #21272475;
}

.token.function-name {
  color: #6196cc;
}

.token.boolean,
.token.selector .token.id,
.token.function {
  color: #fdfdfd;
  text-shadow:
    0 0 2px #001716,
    0 0 3px #03edf975,
    0 0 5px #03edf975,
    0 0 8px #03edf975;
}

.token.class-name {
  color: #fff5f6;
  text-shadow:
    0 0 2px #000,
    0 0 10px #fc1f2c75,
    0 0 5px #fc1f2c75,
    0 0 25px #fc1f2c75;
}

.token.constant,
.token.symbol {
  color: #f92aad;
  text-shadow:
    0 0 2px #100c0f,
    0 0 5px #dc078e33,
    0 0 10px #fff3;
}

.token.important,
.token.atrule,
.token.keyword,
.token.selector .token.class,
.token.builtin {
  color: #f4eee4;
  text-shadow:
    0 0 2px #393a33,
    0 0 8px #f39f0575,
    0 0 2px #f39f0575;
}

.token.string,
.token.char,
.token.attr-value,
.token.regex,
.token.variable {
  color: #f87c32;
}

.token.operator,
.token.entity,
.token.url {
  color: #67cdcc;
}

.token.important,
.token.bold {
  font-weight: bold;
}

.token.italic {
  font-style: italic;
}

.token.entity {
  cursor: help;
}

.token.inserted {
  color: green;
}

pre[class*="language-"]::before {
  background-color: #2a2139;
  position: absolute;
  left: 14px;
  top: 0;
  transform: translate3d(0, -16px, 0);
  border-radius: 3px;
  padding: 3px 8px;
  color: black;
  text-shadow: none;
  font-size: 12px;
  color: white;
  font-weight: 700;
}

pre[class*="language-"] {
  position: relative;
}

pre[class*="language-"]>code {
  overflow: auto;
  display: block;
}

pre[class$="-with-tab"] {
  margin-top: 40px;
}

pre[class="language-bash-with-tab"]::before {
  content: "Terminal";
}

pre[class="language-js-with-tab"]::before {
  content: "JavaScript";
}
