name: Publish docs

on:
  push:
    branches:
      - main
  workflow_dispatch:

permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  deploy:
    runs-on: ${{vars.RUNNER}}
    steps:
      - uses: actions/checkout@v6

      - uses: ./.github/actions/dependencies
        with:
          nodeVersion: ${{ vars.NODE_LTS }}

      - name: Build
        run: cd packages/docs && yarn build

      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: docs
          path: packages/docs/dist
          retention-days: 1

      - name: Trigger deployment
        run: |
          curl -X POST \
            -H "Accept: application/vnd.github.v3+json" \
            -H "Authorization: token ${{ secrets.PAGES_DEPLOY_TOKEN }}" \
            https://api.github.com/repos/jspicl/jspicl.github.io/dispatches \
            -d '{"event_type":"deploy","client_payload":{"run_id":"${{ github.run_id }}","repo":"jspicl","sha":"${{ github.sha }}"}}'
